---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-6xl">
    Hello, I'm <span class="font-extrabold">Julio Olvera</span>
    <span class="block">
      <span id="typewriter"></span><span id="cursor">|</span>
    </span>
  </h1>

  <a
    href="contact"
    class="border border-blue-500 dark:text-white text-2xl font-bold py-2 px-4 rounded hover:bg-blue-500 duration-300 text-black"
    >Let's work together</a
  >
</Layout>

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    function sleep(ms) {
      return new Promise((resolve) => setTimeout(resolve, ms));
    }

    const phrases = [
      "Computer Engineer",
      "Fullstack Developer",
      "Tech Enthusiast",
    ];
    const el = document.getElementById("typewriter");

    let sleepTime = 100;

    let curPhraseIndex = 0;

    if (!el) {
      throw new Error("Element with id 'typewriter' not found");
    }

    const writeLoop = async () => {
      while (true) {
        let curWord = phrases[curPhraseIndex];

        for (let i = 0; i < curWord.length; i++) {
          el.innerText = curWord.substring(0, i + 1);
          await sleep(sleepTime);
        }

        await sleep(sleepTime * 10);

        for (let i = curWord.length; i > 0; i--) {
          el.innerText = curWord.substring(0, i - 1);
          await sleep(sleepTime);
        }

        await sleep(sleepTime * 5);

        if (curPhraseIndex === phrases.length - 1) {
          curPhraseIndex = 0;
        } else {
          curPhraseIndex++;
        }
      }
    };

    writeLoop();
  });
</script>

<style>
  #typewriter {
    color: #0072ef;
    font-weight: bold;
  }

  #cursor {
    color: #0072ef;
    animation: blink 1s linear infinite;
  }

  @keyframes blink {
    0% {
      opacity: 100%;
    }
    50% {
      opacity: 0%;
    }
  }
</style>
