---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="max-w-6xl mx-auto px-6 py-12 prose">
    <h1 class="text-4xl font-bold text-gray-900 dark:text-white mb-2">
      Personal Interests
    </h1>
    <p class="text-lg leading-relaxed text-gray-700 dark:text-gray-300">
      I have a wide range of interests that keep me engaged and inspired. Here
      are some of the things I love to do in my free time:
    </p>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4"></div>
  </div>
</Layout>
